name: Debian Build

on:
  workflow_run:
    workflows: ["Debian Update"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.expose-ver.outputs.VERSION }}
    steps:
    - uses: jcs090218/setup-emacs@master
      with:
        version: 30.2

    - uses: emacs-eask/setup-eask@master
      with:
        version: 'snapshot'

    - uses: actions/checkout@v6
      with:
        persist-credentials: false
        fetch-depth: 1

    - name: Expose Version
      id: expose-ver
      run: |
        eask install-deps --dev
        echo "VERSION=$(eask load scripts/latest-tag.el)" >> $GITHUB_OUTPUT

  build:
    needs: [get-version]
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ needs.get-version.outputs.version }}
      SOURCE_DATE_EPOCH: 1700000000
    strategy:
      fail-fast: false
      matrix:
        arch:
        - arm64
        - x64

    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
        fetch-depth: 1

    - name: Expose Arch
      if: matrix.arch == 'x64'
      run: echo "ARCH=amd64" >> $GITHUB_ENV

    - name: Expose Arch
      if: matrix.arch == 'arm64'
      run: echo "ARCH=arm64" >> $GITHUB_ENV

    - name: Update deb package
      working-directory: debian
      run: |
        set -eux
        curl -fsSL https://github.com/emacs-eask/cli/releases/download/${VERSION}/eask_${VERSION}_linux-${{ matrix.arch }}.tar.gz -o temp.tar.gz

        PKG="eask_${VERSION}_${ARCH}"
        mkdir -p "$PKG/DEBIAN"
        mkdir -p "$PKG/usr/local/bin"

        cp control/${{ matrix.arch }} "$PKG/DEBIAN/control"

        tar --no-same-owner --no-same-permissions \
            --sort=name \
            --mtime="@${SOURCE_DATE_EPOCH}" \
            -xzf temp.tar.gz -C "$PKG/usr/local/bin"

        find "$PKG" -exec touch -d "@${SOURCE_DATE_EPOCH}" {} +

        dpkg-deb --build --root-owner-group "$PKG"

    - name: Clean up
      working-directory: debian
      run: |
        rm -rf temp.tar.gz
        rm -rf eask_${{ env.VERSION }}_${{ env.ARCH }}

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Commit
      continue-on-error: true
      run: |
        git pull
        git add .
        git diff --cached --quiet && echo "No changes" && exit 0
        git commit -m "Update Debian package - ${{ env.ARCH }}"

    - name: Push updated deb package
      continue-on-error: true
      uses: jcs-actions/github-push-action@master
      with:
        branch: master
        rebase: true
        retry: 7
